{{#bs-tab as |tab|}}
    {{#tab.pane title="User"}}
    <h2>{{model.title}}</h2>
    <img src={{model.mainpic}}>
    {{{model.content}}}
    <div class="well">
      <p>
      {{post-info model=model}}
      </p>
    </div>
    <hr>
    <h4>Comments</h4>
    {{new-comment saveComment="saveComment" post=model}}
    <hr>
    <ul>
      {{#each model.comments as |comment|}}
        {{comment-tile model=comment}}
      {{/each}}
    </ul>
    {{/tab.pane}}
    {{#tab.pane title="Admin"}}
    <h2>{{model.title}}</h2>
    <img src={{model.mainpic}}>
    {{{model.content}}}
    <div class="well">
      <p>
      {{post-info model=model}}
      </p>
    </div>
    {{post-update model=model update='update'}}
    <button {{action 'delete' model}}>Delete</button>
    {{/tab.pane}}
{{/bs-tab}}
